/* Table.css */
.Table {
  margin-top: 0px;
}

.Table h2 {
  color: #333;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex > h2 {
  margin-left: 10px;
}
.flex > Button {
  margin-left: 8px;
  margin-right: 8px;
}
.nameRow {
  display: flex;
  align-items: center;
}

.sortIconContainer {
  cursor: pointer;
  color: #038aff;
  vertical-align: middle;
  margin-top: 5px;
}
.dmmcd {
  font-size: 20;
}
.avatarContainer {
  width: 28.5px;
  height: 28.5px;
  border-radius: 50%;
  margin-right: 8px;
}
.ccddmm {
  font-size: 20;
  color: #a1a6ab;
}

@media only screen and (max-width: 600px) {
  /* Add styles for smaller screens */
}
